body {
    text-align: center;
    background-attachment: fixed;
    background: linear-gradient(
        to bottom,
        rgb(22, 22, 22),
        rgb(29, 29, 29),
        rgb(49, 49, 49),
        rgb(71, 71, 71)
    );
}

#titulo {
    text-align: center;
    color: rgb(223, 93, 93);
    background-color: rgba(160, 67, 83, 0.664);
    border: 5px solid white;
    font-family: 'Franklin Gothic Medium', sans-serif;
    font-size: 40px;
    text-shadow: 0 0 5px red;
    box-shadow: 0 0 10px rgb(252, 53, 86);
}

#subtitulo {
    text-align: center;
    font-family: 'Franklin Gothic Medium', sans-serif;
}

mark {
    
    color: white;
    background-color: grey;
}

#proyectos {
    color: white;
    background-color: rgba(0, 255, 0, 0.226);
    border: 5px double rgb(0, 0, 0);
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(0, 255, 0);
    text-shadow: 0 0 10px rgb(0, 255, 0);
    width: 305px;
    height: 60px;
    margin-right: 50px ;
}

#perfil {
    color: white;
    background-color: rgba(0, 200, 255, 0.226);
    border: 5px double rgb(0, 0, 0);
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(0, 255, 255);
    text-shadow: 0 0 10px rgb(0, 255, 255);
    width: 305px;
    height: 60px;
    margin-right: 50px;
}

#sobremi {
    color: white;
    background-color: rgba(89, 0, 255, 0.096);
    border: 5px double rgb(0, 0, 0);
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(225, 0, 255);
    text-shadow: 0 0 10px rgb(225, 0, 255);
    width: 305px;
    height: 60px;
    margin-right: 50px;
}

#redes {
    color: rgb(0, 0, 0);
    background: linear-gradient(
    to bottom right,
    rgba(0, 68, 255, 0.397),
    rgba(0, 110, 255, 0.397),
    rgba(153, 0, 255, 0.397),
    rgba(255, 0, 212, 0.397),
    rgba(255, 0, 0, 0.397),
    rgba(255, 115, 0, 0.397),
    rgba(255, 238, 0, 0.397)
    );
    border: 5px double rgb(0, 0, 0);
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(255, 255, 255);
    text-shadow: 0 0 10px rgb(255, 255, 255);
    width: 305px;
    height: 60px;
    margin-right: 50px;
}

.imagen {
    border: 5px solid black;
    margin-right: 50px;
}
